@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    color: rgb(17, 17, 17);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 248, 239);
    margin-bottom: 50px;
}
.title {
    color: hsl(24, 82%, 30%);
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(20px);
    width: 100%;
    border: 0;
    margin: 0;
    text-align: left;
    padding: 1px 0;
    text-size-adjust: 25px;
    position: absolute;
    z-index: 1;
}
.titletext {
    margin-left: 15px;
    color: burlywood;
}
.img {
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    z-index: 0;
}
.recipe-placement {
    background-color: rgb(233, 210, 180);
    position: absolute;
    z-index: 2;
    margin-top: 15px;
    margin-left: 25%;
    border-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
    width: 50%;
    height: auto;
    text-align: left;
}
.inandmp {
    text-size-adjust: 10px;
    text-align: center;
}